// Fuentes
$fuente_headings: 'Inter',
sans-serif;
$fuente_textos: 'Open Sans',
sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$indigo: #4338CA;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FFFFFF;
$gris: #6b7280;
//$grisOscuro: #4B5563;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

//Colores Senara
//$grisClaro: #c0cda4;
$grisClaro: #f3f4f6;
$azulClaro: #1480c0;
$verdeOscuro: #07392a;
$verdeClaro: #5d923a;
$azulOscuro: #17568e;
$azulMedio: #0b54a4;
$verdeMedio: #267438;
$grisOscuro: #555b52;
$celesteAgua: #70bcd5;
$bgGris:#e9ecef;

//Border radius
$radiusContenedor: 10px;


$separacion: 5rem;

/**** Style sombras ****/
$webkit: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
$moz: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
$boxShadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);