@use 'base/variables'as v;
@use 'base/mixins'as m;

.border-right {
    border-right: thin solid #F5F5F5
}

.m-b-20 {
    margin: 0 0 20px 0;
}

.m-b-30 {
    margin: 0 0 30px 0;
}

.m-b-60 {
    margin: 0 0 30px 0;
}

.category-row ul {
    list-style: none;
}

.category-row li a {
    font-style: normal;
}

.category-row ul li {
    margin-left: 0;
}

.category-row a>img {
    margin: 0 0 30px 0;
}

.category-row a>img:hover {
    opacity: 0.54;
    filter: alpha(opacity=54);
    /* For IE8 and earlier */
}

.category-link-sm {
    color: #2196F3;
    font-size: 12px;
}

.category-link {
    color: #2196F3;
}

.ga-arrow-right {
    position: relative;
    top: .3em;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .5)), url('http://s7d2.scene7.com/is/image/Watscocom/baker_landing_20161212_rheem-destination-unknown-04?scl=1&qlt=90,1&resMode=sharp2&op_usm=11,0.3,2,0') no-repeat;
    background-size: cover;
    background-color: #000000;
    text-shadow: 1px 2px 3px #000000;
    position: relative;
    padding: 30px 30px 0 30px;
}

.hero p>img {
    display: inline;
    padding: 10px
}

.inverse {
    color: white
}

.inverse a {
    color: white
}

#senara-table {
    width: 100%;
    border-collapse: collapse;
    >thead {
        >tr {
            >th {
                font-size: 1.5rem;
            }
        }
    }

    >tbody {
        position: relative;
        //height: 36rem;
        >tr {
            >td:last-child {
                display: flex;
                justify-content: space-around;

                >i {
                    padding: .5rem;
                    cursor: pointer;

                    &:hover {
                        background-color: lighten(v.$gris, 30%);
                    }
                }

                >.fa-pen-to-square {
                    color: v.$azulOscuro;
                }

                >.fa-trash-can {
                    color: v.$rojo;
                }
            }
        }
    }
}

#senara-table th {
    background: darken(v.$azulClaro, 25%);
    font-size: 1.5rem;
    font-weight: 400;
    color: v.$blanco;
    border-bottom: solid thin #C1C1C1;
    border-right: solid thin #C1C1C1;
    border-top: solid thin #D6D6D6;
    border-left: solid thin #D6D6D6;
}

#senara-table td {
    padding: 4px 8px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #474443;
    border-bottom: solid thin #C1C1C1;
    border-right: solid thin #C1C1C1;
    border-top: solid thin #D6D6D6;
    border-left: solid thin #D6D6D6;
}


/*controls odd rows*/
#senara-table tr:nth-child(odd) {
    background: #FFFFFF;
    border-bottom: solid thin #C1C1C1;
    border-right: solid thin #C1C1C1;
    border-top: solid thin #D6D6D6;
    border-left: solid thin #D6D6D6;
}

/*controls even rows*/
#senara-table tr:nth-child(even) {
    background: #FFFFFF;
    border-bottom: solid thin #C1C1C1;
    border-right: solid thin #C1C1C1;
    border-top: solid thin #D6D6D6;
    border-left: solid thin #D6D6D6;
}

/*controls column 1*/
/*#senara-table td:nth-child(1) {
    background: #FFFFFF;
    color: #0082D6;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border-left: solid 1px #FFFFFF;
}*/

/*controls column 1 header*/
/*#senara-table th:nth-child(1) {
    text-align: center;
    border-left: solid 1px #FFFFFF;
}*/

/*controls column 2*/
#senara-table td:nth-child(1) {
    text-transform: uppercase;
}

/*controls column 5*/
/*#senara-table td:nth-child(5) {
    background: darken(v.$azulClaro, 25%);
    text-align: left;
    color: #0082D6;
    font-weight: 700;
}

/*controls column head 5*/
/*#senara-table th:nth-child(5) {
    background: #D6D6D6;
    text-align: left;
}*/

/*controls column 6*/
/*#senara-table td:nth-child(6) {
    background: #EDEDED;
    color: #0082D6;
    text-align: left;
    font-weight: 700;
}

/*controls column head 6*/
/*#senara-table th:nth-child(6) {
    background: #D6D6D6;
    text-align: left;
}*/


.pointLeader img {
    float: left;
    padding-right: 20px;
    font-weight: 900;
}

.pointLeader p {
    font-size: 1rem;
    text-align: left
}

.pointLeader h4 {
    font-weight: 900;
    text-align: left
}

.align-center {
    text-align: center
}

.learnMore {
    padding: 0 0 0 10px
}

.md-label {
    background: #BABABA
}

.md-label-orange {
    background: #f78d2c;
    padding: 0.3rem 0.5rem;
    border-radius: 0;
    color: white
}

.md-caps {
    text-transform: uppercase
}

.card {
    border: solid thin #F5F5F5;
    padding: 2rem 1rem;
}

.callout {
    border: solid thin #F5F5F5;
    background-color: #D6D6D6;
    border-radius: 5px;
    padding: .5rem;
    width: auto;
}

.md-black {
    font-weight: 900;
}

.linethrough {
    text-align: center;
    position: relative;
    z-index: 1;
}

.linethrough:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

.linethrough span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #FFFFFF;
    padding: 0 15px;
}

.max-width-50 {
    max-width: 50%
}

/*controls responsive button for opening hidden columns*/
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    background-color: #0d82fb;
    border: none;
    font-size: 12px
}

/* give space between search bar and table */
.dataTables_filter {
    margin-bottom: 20px
}

@media screen and (max-width: 39.9375em) {

    /* give space between search bar and table */
    .dataTables_filter {
        display: none !important
    }
}

.content-table-senara {
    display: block;
    height: 58%;
    overflow-y: scroll;
    padding: 2rem 1rem 2rem 0;
    margin-top: 2rem;
}

.status-col {
    padding: .2rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 9rem;

    &.active {
        background-color: v.$verdeMedio;
        color: v.$blanco;
    }

    &.desactive {
        background-color: darken(v.$naranja, 10%);
        color: v.$blanco;
    }
}